<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <title>{% block title %}{% endblock %} سجل الطالب </title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css')}}">
    {% endblock %}
</head>
<main>
    <h1>النتائج الامتحانية الشهادة الثانوية العامة</h1>
    <figure>
        <div>
            <table class="wochenprogramm">
                <colgroup>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <br>
                    </tr>
                    <tr>
                        <form method="POST" action="/">
                            <label>
                                <input type="number" name="student_id">
                            </label>
                            <input type="submit" value="بحث">
                        </form>
                    </tr>
                </thead>
                <tr>
                    <td><br><strong>{{message}}</strong><br></td>
                </tr>
            </table>
        </div>
    </figure>
</main>
</body>

</html>